* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 10vh 90vh;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */

header {
    height: 10vh;
    background-color: #0F2A1D;
    display: grid;
    grid-template-areas: "ico thing other";
    grid-template-columns: 10% 60% 30%;
    align-content: center;
}

.icon {
    height: 8vh;
}

.cart {
    height: 4vh;
    width: 4vh;
    vertical-align: middle;
    transition: 0.2;
}

.cart:hover {
    transform: scale(1.05);
}

.register {
    margin-left: 8%;
    background-color: #6B9071;
    width: 30%;
    height: 4.25vh;
    border-radius: 10px;
    font-size: 1.25vw;
    color: #151515;
    text-align: center;
    line-height: 4.25vh;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: 0.2;
}

.register:hover {
    transform: scale(1.05);
}

.header-thing {
    width: 100%;
    height: 8vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: thing;
    justify-self: center;
}

.header-thing ul {
    width: 100%;
    list-style: none;

    li {
        font-size: 2vw;
        display: inline-block;
        margin-right: 6%;
        color: white;
        transition: 0.2;
    }

    li:hover {
        transform: scale(1.05);
    }

}

.header-thing li:nth-child(2)
{
        font-size: 2vw;
        display: inline-block;
        margin-right: 6%;
        color: gray;
        transition: 0.2;
}

.search {
    display: flex;
    margin-right: 8%;
    align-items: center;
    position: relative;

    input {
        height: 4vh;
        width: 25vw;
        border-radius: 10px;
        border: 0px;
        background-color: #e4e4e4de;
        padding: 10px;
        font-size: 1vw;
    }
}

.search img {
    height: 2.5vh;
    width: 2.5vh;
    position: absolute;
    right: 0;
}

.header-other {
    width: 90%;
    display: flex;
    justify-content: end;
    grid-area: other;
    align-self: center;
    justify-self: start;
}

.header-icon {
    grid-area: ico;
    align-self: center;
    justify-self: center;
}

/* Main Section */

section {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 30%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "intro intro"
        "ad div";
    justify-items: center;
    justify-content: center;
    padding: 1%;
}

.intro {
    grid-area: intro;
    width: 40%;
            text-align: center;

    span {
        font-size: 3em;
        font-weight: 550;
    }

    p {
        font-size: 1.4em;
    }
}

.add {
    width: 100%;
    justify-self: end;
    grid-area: ad;
    background-color: #E3EED4;
    padding: 6%;
    padding-top: 8%;
    border-radius: 8px;
    
    span {
        font-size: 3.5em;
        font-weight: 550;
    }

    p {
        font-size: 1.9em;
    }
}

.divisor {
    width: 100%;
    grid-area: div;
    position: relative;

    img {
        position: absolute;
        right: 10%;
        top: 17.5%;
        height: 42.5vh;
    }
}

/* Configuring the Footer */

footer {
    height: 20vh;
    background-color: #375534;
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    align-content: center;
    grid-template-areas: "redes pag";
}

.redes {
    grid-area: redes;
    list-style: none;
    display: inline-block;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.25em;
    justify-self: center;

    li:first-of-type {
        display: block;
    }

    li {
        display: inline-block;
        width: 100%;
        position: relative;
    }

    li img {
        height: 4vh;
        width: 4vh;
    }

    p {
        position: absolute;
        font-size: 0.8em;
        font-weight: 500;
        height: 4vh;
        line-height: 6vh;
        display: inline-block;
        bottom: 35%;
    }
}

.pag {
    grid-area: pag;
    list-style: none;
    display: inline-block;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;

    li:first-of-type {
        display: block;

        p {
            font-weight: 600;
            font-size: 1.25em;
            margin-bottom: 1vh;
        }
    }

    li {
        display: inline-block;
        width: 100%;
    }

    li img {
        height: 4vh;
        width: 4vh;
    }

    p {
        font-size: 1em;
        font-weight: 500;
        bottom: 35%;
    }
}